
/* .centered {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;
  } */
  .centered{
    /* background-color: red; */
    text-align: center;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  ion-content {
    /* --ion-background-color: #ab7400; */
    /* --ion-background-color:rgb(70, 67, 67) */
    --background: url('/lidBackground.jpg');
    --background-size: cover;
    --background-position: center;
    --ion-background-color: transparent;
  }
  ion-toolbar{
    --background: black;
    color : white;
  }
  html {
    --ion-dynamic-font: var(--ion-default-dynamic-font);
    --ion-font-family: 'roboto';
  }

  .segoe{
    /* background-color: red; */
    font-family: var(--ion-font-family-base);
    font-size: 1.2rem;
  }
  .white{
    background-color: black;
    color : white;
    color: red;
    border-radius: 6px;
  }
  .whiteOnly{
    color : white;
    color: red;
  }

  
  #ico1{
    display: inline-flex;
    position: fixed;
    top: 3px;
    bottom: 5%;
    left: 9%
  }
  #lab1{
    display: inline-flex;
    position: fixed;
    bottom: 0px;
    font-size: 12px;
    left: 8.2%;
  }
  #ico2{
    display: inline-flex;
    position: fixed;
    top: 3px;
    left: 46vw;
  }
  #lab2{
    display: inline-flex;
    position: fixed;
    bottom: 1px;
    font-size: 0.79rem;
    left: 43vw
  }
  #ico4{
    display: inline-flex;
    position: fixed;
    top: 3px;
    left: 83vw;
  }
  #lab4{
    display: inline-flex;
    position: fixed;
    bottom: 1px;
    font-size: 12px;
    left: 82.5vw;
  }
  .avatar{
    width: 50%;
    height: 100%;            
    text-align: right;
  }
  .iconAvatar{
    text-align: right; 
    font-size: 6vh; 
    color:black;
  }
  .username{
    width: 50%;
    height: 100%;
    margin-left: -3vw; 
    font-weight: bolder;
  }
  .textProfile{
    position: relative; 
    bottom: 1.6vh; 
    text-align: center; 
    font-weight: bold;
  }
  @media screen and (min-width: 600px) {
    #lab1{
      display: inline-flex;
      position: fixed;
      bottom: 0px;
      font-size: 12px;
      left: 8.7%;
      /* color: green; */
    }
    #lab2{
      display: flex;
      position: fixed;
      bottom: 1px;
      font-size: 0.8rem;
      left: 44.3vw;
      /* color: green; */
    }
    #lab4{
      display: inline-flex;
      position: fixed;
      bottom: 1px;
      font-size: 12px;
      left: 82.8vw;
      /* color: green; */
    }
    
    .textProfile{
      position: relative; 
      top: -4px;
      color: #ab7400;
    }
    .iconAvatar{
      margin-left: 13.9vw;
    }
    
  }
  @media screen and (max-width: 600px) {
    /* #lab2{
      display: flex;
      position: fixed;
      bottom: 1px;
      font-size: 0.8rem;
      left: 43vw;
      color: red;
    } */
  }
  @media screen and (min-width: 700px) {
    .avatar{
      margin-left: 30px;
    }
    .iconAvatar{
      margin-left: 15vw;
    }
  }
  @media screen and (min-width: 915px) {
    #lab2{
      left: 44.7vw;
      /* color: red; */
    }
    .avatar{
      margin-left: 44px;
    }
  }
  @media screen and (min-width: 1000px) {
    #lab2{
      left: 45vw;
      /* color: green; */
    }
    
  }
  @media screen and (min-width: 1210px) {
    .avatar{
      margin-left: 60px;
      padding-left: 20px;
    }
  }
  
  /* #ico3{
    display: inline-flex;
    position: fixed;
    top: 3px;
    left: 58vw;
  } */
  /* #lab3{
    display: inline-flex;
    position: fixed;
    bottom: 2px;
    font-size: 0.69rem;
    left: 55.6vw
  } */
  
  #selectedFile{
    border: 4px black solid;
    border-radius: 35px;
  }
  #confirmButton{
    position: relative;
    color : white;
    --background: black;
    top: 50px;
    bottom: 1.6vh;
    /* bottom: 10px; */
  }
  #back{
    display: inline-flex;
    position: fixed;
    top : 1%;
  }

  #info{
    /* background-color: red; */
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
    /* color: white; */
  }
  .fields>input{
    background-color: #fff;
    padding: 10px 20px;
    color: black;
    border-radius: 5px;
    border: 2px solid #ab7500b0;
  }
  .fields>button:hover{
    border-color: #fa5;
  }
  .fields>button{
    background-color: #ab7500;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 300;
  }
  .fields{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .alert-button{
    color: black;
  }